
.blogs-pagination {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.pagination-buttons button {
  border: none;
  margin: 5px;
  height: 30px;
  width: 30px;
  background-color: #ddd;
  cursor: pointer;
}
.active-page-btn {
  background-color: blueviolet !important;
  color: white;
}